CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

MONGO_PASS=
MONGO_USER=
MONGO_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV=development

GMAIL_USER=yourname@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

APP_NAME=My Hackathon App

